[report]
include =
    notification/*.py
omit =
    notification/__init__.py
    notification/migrations/*.py
    notification/tests/*.py
    notification/apns/*.py
    tests/*.py
exclude_lines =
    pragma: no cover
